table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    i {
        float: right;
    }
    cursor: pointer;
    color: #4338ca;
    font-weight: bold;
    user-select: none;
}
tr {
    font-size: 85%;
}

input,
select {
    border: 1px solid #4338ca;
    border-radius: 1rem;
}

tr:nth-child(even) {
    background-color: #f4f4f5;
}

.table__title {
    padding: 2rem 0;
    font-size: 2rem;
    color: #4338ca;
    font-weight: 800;
}
.table__action {
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;

    &__showEntries {
        p,
        select {
            font-weight: bold;
            color: #4338ca;
        }
        select {
            padding: 0.3rem 0.5rem;
            margin: 0 0.3rem;
        }
    }

    &__search {
        color: #4338ca;
        font-weight: bold;

        input {
            color: #4338ca;
            padding: 0.3rem 0.5rem;
        }
    }
}
.table__footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__pagination {
        display: flex;
        gap: 1rem;
        align-items: center;

        &__button {
            cursor: pointer;
            font-size: 0.7rem;
            border: solid 2px #4338ca;
            background-color: white;
            padding: 0.5rem 1rem;
            width: 5rem;
            border-radius: 1rem;
            color: #4338ca;
            font-weight: 600;
            text-align: center;
        }
    }
}
