.landkit__cta {
    &--wrapper {
        background-color: #1b2a4e;
        color: white;
        padding: 4rem 0;
    }

    max-width: 60%;
    @include maxWidth(991px) {
        max-width: 80%;
    }
    @include maxWidth(768px) {
        max-width: 100%;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__started {
        background-color: rgba(80, 102, 144, 0.1);
        color: #506690;
        width: fit-content;
        border-radius: 50rem;
        padding: 0.5rem 1rem;
    }
    &__des {
        color: $color_muted;
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 2rem;
        padding: 2rem 0;
        text-align: center;
    }
    p {
        font-size: 1.1875rem;
        text-align: center;
        line-height: 1.5;
    }
    button {
        background-color: $color_form;
        color: white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-weight: bold;
    }
}
