.landkit__faq {
    &--wrapper {
        background-color: #1b2a4e;
        padding-top: 20rem;
    }

    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        gap: 1rem;
        max-width: 50%;
        margin-bottom: 2rem;
        align-items: baseline;
        i {
            background-color: $color_form;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 2rem;
            color: white;
            padding: 0.5rem;
            border-radius: 50%;
        }

        .question {
            color: white;
            line-height: 1.45;
            font-size: 1.1875rem;
            margin-bottom: 1rem;
        }
        .answer {
            color: #869ab8;
            line-height: 1.5;
            font-size: 1.1rem;
        }
    }
}
@include maxWidth(768px) {
    .landkit__faq {
        display: flex;
        flex-direction: column;

        &__item {
            max-width: 100%;
        }
    }
}
