.landkit {
    &__testimonial {
        padding: 8rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 1.9375rem;
                margin-bottom: 1rem;
                line-height: 1.35;
            }
            p {
                max-width: 65%;
                color: $color_muted;
                font-size: 1.1875rem;
                line-height: 1.3;
                letter-spacing: 0.2px;
                margin-bottom: 4rem;
            }
        }

        &__slider {
            position: relative;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden; /* <===  */
            border-radius: 10px;
        }

        .absolute {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &__slide {
            display: flex;
            width: 100%;
            word-wrap: break-word;
            background-clip: border-box;
            background-color: #fff;
            border: 0 solid #f1f4f8;
            border-radius: 0.375rem;
            box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
            z-index: 99;

            &__image {
                min-width: 50%;
                img {
                    border-radius: 0.375rem 0 0 0.375rem;
                }
            }
            &__inner {
                padding: 4rem 2.5rem;
                position: relative;
                background-color: white;
                img {
                    max-height: 4rem;
                    margin-bottom: 2.5rem;
                }
                &__quote {
                    font-size: 1.25rem;
                    text-align: center;
                    line-height: 1.6;
                    color: #161c2d;
                    opacity: 0.9;
                    margin-bottom: 2.5rem;
                }

                &__footer {
                    color: #869ab8;
                    font-size: 0.75rem;
                    text-align: center;
                }
            }
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #335eea;
                box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%);
                border: none;
                border-radius: 50%;
                color: #fff;
                display: flex;
                height: 2.5rem;
                width: 2.5rem;
                position: absolute;
                top: calc(50% - 1.625rem - 2px);
                cursor: pointer;

                @include maxWidth(450px) {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:active {
                    opacity: 0.5;
                    transition: 0.3s ease-out;
                }

                &__prev {
                    left: 0rem;
                }
                &__next {
                    right: 0rem;
                }
                @include maxWidth(768px) {
                    &__prev,
                    &__next {
                        top: 70%;
                    }
                }
            }
        }
    }
}

@include maxWidth(991px) {
    .landkit {
        &__testimonial {
            &__slide {
                &__inner {
                    padding: 0;
                }
            }
        }
    }
}
@include maxWidth(768px) {
    .landkit {
        &__testimonial {
            &__head {
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    max-width: 100%;
                }
            }
            &__slide {
                display: flex;
                flex-direction: column;

                &__inner {
                    img {
                        margin: 1rem 0;
                        padding: 0.5rem 0;
                    }
                    &__quote {
                        padding: 0 2rem;
                    }
                    &__footer {
                        margin-bottom: 4.5rem;
                        flex-basis: 1;
                    }
                }
            }
        }
    }
}
